ARGILLA_OWNER_USERNAME=argilla
ARGILLA_OWNER_PASSWORD=password
ARGILLA_API_KEY=argilla.apikey
ARGILLA_VOVA_PASSWORD=password
ARGILLA_STEPA_PASSWORD=password
ARGILLA_SLAVA_PASSWORD=password
ARGILLA_PETYA_PASSWORD=password
